{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        
        <header id="index-header">
            <div class="container text-center">
                <h1 id="header-text">404</h1>
                <h1 id="sub-text">Page Not Found</h1>
                <p class="lead" id="header-info">Maaf, halaman tujuanmu tidak ada!</p>
                <a href="{% url 'index_lapor_pengembang' %}" class="btn btn-primary"> Kembali Ke Beranda </a>
            </div>
        </header>
        
    </div>
    
{% endblock %}