{% extends 'layout.html' %}

{% block content %}
    <div class="section-generate">

        <div class="form-box">
            <div class="form-content">
                <form action="" method="post" class="generate-form">
                    {% csrf_token %}
                    <h3 class="title-form-generate">Generate Username Pengembang</h3>
    
                    <label for="">Username</label>
                    <input type="text" name="username" id="username" class="generate_input">
    
                    <label for="">Password</label>
                    <div class="password-section">
                        <input type="text" name="password" readonly=""  class="generate_input" id="generate_input_password">
    
                        <div class="generate_btn" onclick="getPassword();" >Generate</div>
                    </div>
                    
    
                    <input type="submit" value="Submit" class="submit generate_input">
    
                </form>
            </div>
            
        </div>

    </div>

    <script>
        function getPassword()
        {
            var chars="qwertyuiop[]asdfghjkl;!@#$%^&()_+|zxcvbnm/1234567890-=QWERTYUIOP{}ASDFGHJKL:ZXCVBNM<>?";
            var passwordLength = 8;
            var password="";

            for(let i=0; i<passwordLength; i++)
            {
                var randomNumber = Math.floor(Math.random() * chars.length);
                password+=chars.substring(randomNumber, randomNumber+1);
            }
            console.log(password);

            document.getElementById("generate_input_password").value=password;

        }
    </script>
    
{% endblock %}