{% extends 'layout.html' %}

{% block content %}

    {% if user.is_superuser %}

        <div class="main">
            
            <header id="index-header">
                <div class="container text-center">
                    <h1 id="header-text">Selamat Datang {{user.username}}</h1>
                    <p class="lead" id="header-info">Login terakhir anda pada {{user.last_login}}</p>
                </div>
            </header>
            
        </div>

    {% endif %}
    
{% endblock %}