{% extends '../layout.html' %}

{% block content %}
    
    <div class="main">
        <div class="container">
            <div class="content">

                <h1>Daftar Perusahaan</h1>
                
                {# Template Testing 1#}
                <a class="item" href="#">
                    <div class="col-md-12">
                        <div class="listing listing-radius">
                            <div class="listing-content">
                                <h3 class="nama_perusahaan">Patrick Industries</h3>

                                <div id="group">
                                    <h6 id="details"><b>Jenis Perusahaan: </b>CV</h6>
                                    <h6 id="details"><b>Alamat Perusahaan: </b>Galaxy Bumi Permai Z3-92</h6>
                                </div>

                                <div id="group">
                                    <h6 id="details"><b>Email: </b>pi@industries.com</h6>
                                    <h6 id="details"><b>Website: </b>www.patrickindustries.com</h6>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </a>

                {# Template Testing 2#}
                <a class="item" href="#">
                    <div class="col-md-12">
                        <div class="listing listing-radius">
                            <div class="listing-content">
                                <h3 class="nama_perusahaan">Patrick Industries</h3>

                                <div id="group">
                                    <h6 id="details"><b>Jenis Perusahaan: </b>CV</h6>
                                    <h6 id="details"><b>Alamat Perusahaan: </b>Galaxy Bumi Permai Z3-92</h6>
                                </div>

                                <div id="group">
                                    <h6 id="details"><b>Email: </b>pi@industries.com</h6>
                                    <h6 id="details"><b>Website: </b>www.patrickindustries.com</h6>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </a>

                {% for entry in all_entries%}
                    <p>{{entry.id_data_perusahaan}}</p>
                {% endfor %}

            </div>
        </div>
    </div>
    
{% endblock %}