{% extends '../layout.html' %}

{% block content %}
    
    <div class="main">
        <div class="container">
            <div class="content">

                <h1>Daftar Proyek</h1>

                {% for entry in all_entries%}
                    <a class="item" href="{% url 'folder_proyek' entry.id_data_proyek %}">
                        <div class="col-md-12">
                            <div class="listing listing-radius">
                                <div class="listing-content-proyek">
                                    <h3 class="list-title">{{entry.lokasi_proyek}}</h3>

                                    <div id="group-proyek">
                                        <h6 id="details-proyek"><b>Jenis Produk: </b>{{entry.jenis_produk}}</h6>
                                    </div>

                                    <div id="group-proyek">
                                        <h6 id="details-proyek"><b>Jumlah Unit: </b>{{entry.jumlah_total_unit}}</h6>
                                    </div>

                                    <div id="group-proyek">
                                        <h6 id="details-proyek"><b>Target Pembangunan: </b>{{entry.target_pembangunan}}</h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <div class="row" id="admin-verify-back">
                    <a href="" class="btn btn-secondary"> Kembali ke Detail Perusahaan </a>
                    {# <a href="{% url 'read_perusahaan' entry.id_data_perusahaan %}" class="btn btn-secondary"> Kembali ke Detail Perusahaan </a> #}
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}