{% extends '../layout.html' %}

{% block content %}
    
    <div class="main">
        <div class="container">
            <div class="content">

                <h1>Daftar Perusahaan</h1>

                {% for entry in all_entries%}
                    <a class="item" href="{% url 'read_perusahaan' entry.id_data_perusahaan %}">
                        <div class="col-md-12">
                            <div class="listing listing-radius">
                                <div class="listing-content">
                                    <div> 
                                        <h3 class="list-title">{{entry.nama_perusahaan}}</h3>

                                        {% if entry.verified_admin == 1 %}
                                            <button class="btn btn-primary" id="verified-tag-list"> Sudah Diverifikasi </button>
                                        {% else %}
                                            <button class="btn btn-secondary" id="verified-tag-list"> Belum Diverifikasi </button>         
                                        {% endif %}
                                        
                                    </div>
                                   
                                    <div id="group">
                                        <h6 id="details"><b>Bentuk Perusahaan: </b>{{entry.bentuk_perusahaan}}</h6>
                                        <h6 id="details"><b>Alamat Perusahaan: </b>{{entry.alamat_perusahaan}}</h6>
                                    </div>

                                    <div id="group">
                                        <h6 id="details"><b>Email: </b>{{entry.email}}</h6>
                                        <h6 id="details"><b>Website: </b>{{entry.website}}</h6>
                                    </div>
           
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}  

            </div>
        </div>
    </div>
    
{% endblock %}