{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Perusahaan </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="nama_perusahaan" class="detail-title">Nama Perusahaan</label>
                                    <p class="read-details"> Patrick Industries</p>
                                </div>

                                <div class="detail-text">
                                    <label for="nama_pemilik" class="detail-title">Nama Pemilik</label>
                                    <p class="read-details">Patrick</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="bentuk_perusahaan" class="detail-title">Bentuk Perusahaan</label>
                                    <p class="read-details">CV</p>
                                </div>

                                <div class="detail-text">
                                    <label for="alamat_perusahaan" class="detail-title">Alamat Perusahaan</label>
                                    <p class="read-details">Galaxy Bumi Permai Z3-92</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="tahun_berdiri" class="detail-title"> Tahun Berdiri</label>
                                    <p class="read-details">1999</p>
                                </div>

                                <div class="detail-text">
                                    <label for="no_telp" class="detail-title">No Telp</label>
                                    <p class="read-details">0819384449999</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="email" class="detail-title">Email</label>
                                    <p class="read-details">pi@industries.com</p>
                                </div>

                                <div class="detail-text">
                                    <label for="website" class="detail-title">Website</label>
                                    <p class="read-details">www.patrickindustries.com</p>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            
                            {# col 1 #}
                            <div class="col">
                                <label for="foto_pemilik" class="detail-title">Foto Pemilik</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto_pemilik">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="foto_pemilik" tabindex="-1" role="dialog" aria-labelledby="foto_pemilik_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="foto_pemilik_label">Foto Pemilik</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'images/testing.jpg' %}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            {# col 2 #}
                            <div class="col">
                                <label for="ktp_pemilik" class="detail-title">KTP Pemilik</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ktp_pemilik">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="ktp_pemilik" tabindex="-1" role="dialog" aria-labelledby="ktp_pemilik_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ktp_pemilik_label">KTP Pemilik</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'images/testing.jpg' %}">

                                        <!--
                                        {% if typecheck == 1 %}
                                            <embed src="files/Brochure.pdf" type="application/pdf" width="100%" height="600px" />
                                        {% else %}
                                             <img src="{% static 'images/testing.jpg' %}">
                                        {% endif %}
                                        -->
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col">
                                <label for="akta_pendirian_badan_usaha_atau_badan_hukum" class="detail-title">Akta pendirian Badan Usaha / Badan Hukum</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#akta_pendirian_badan_usaha_atau_badan_hukum">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="akta_pendirian_badan_usaha_atau_badan_hukum" tabindex="-1" role="dialog" aria-labelledby="akta_pendirian_badan_usaha_atau_badan_hukum_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="akta_pendirian_badan_usaha_atau_badan_hukum_label">Akta pendirian Badan Usaha / Badan Hukum</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{% static 'images/testing.jpg' %}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}