{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Perusahaan </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="nama_perusahaan" class="detail-title">Nama Perusahaan</label>
                                    <p class="read-details">{{entry.nama_perusahaan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="nama_pemilik" class="detail-title">Nama Pemilik</label>
                                    <p class="read-details">{{entry.nama_pemilik}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="bentuk_perusahaan" class="detail-title">Bentuk Perusahaan</label>
                                    <p class="read-details">{{entry.bentuk_perusahaan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="alamat_perusahaan" class="detail-title">Alamat Perusahaan</label>
                                    <p class="read-details">{{entry.alamat_perusahaan}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="tahun_berdiri" class="detail-title"> Tahun Berdiri</label>
                                    <p class="read-details">{{entry.tahun_berdiri}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="no_telp" class="detail-title">No Telp</label>
                                    <p class="read-details">{{entry.no_telp}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="email" class="detail-title">Email</label>
                                    <p class="read-details">{{entry.email}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="website" class="detail-title">Website</label>
                                    <p class="read-details">{{entry.website}}</p>
                                </div>

                            </div>
                        </div>

                        <div class="row" id="read-row">
                            <h2 class="sub-header"> File </h2>
                        </div>

                        <div class="row" id="read-row">
                            
                            {# col 1 #}
                            <div class="col">
                                <label for="foto_pemilik" class="detail-title">Foto Pemilik</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto_pemilik">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="foto_pemilik" tabindex="-1" role="dialog" aria-labelledby="foto_pemilik_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="foto_pemilik_label">Foto Pemilik</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{entry.foto_pemilik.url}}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            {# col 2 #}
                            <div class="col">
                                <label for="ktp_pemilik" class="detail-title">KTP Pemilik</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ktp_pemilik">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="ktp_pemilik" tabindex="-1" role="dialog" aria-labelledby="ktp_pemilik_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ktp_pemilik_label">KTP Pemilik</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if ktpPDF == 1 %}
                                            <embed src="{{entry.ktp_pemilik.url}}" type="application/pdf" width="100%" height="600px" />
                                        {% else %}
                                            <img src="{{entry.ktp_pemilik.url}}">
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="read-row">

                            <div class="col">
                                <label for="akta_pendirian_badan_usaha_atau_badan_hukum" class="detail-title">Akta pendirian Badan Usaha / Badan Hukum</label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#akta_pendirian_badan_usaha_atau_badan_hukum">
                                    Lihat Gambar
                                  </button>
                            </div>
    
                            <div class="modal fade" id="akta_pendirian_badan_usaha_atau_badan_hukum" tabindex="-1" role="dialog" aria-labelledby="akta_pendirian_badan_usaha_atau_badan_hukum_label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="akta_pendirian_badan_usaha_atau_badan_hukum_label">Akta pendirian Badan Usaha / Badan Hukum</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if aktaPDF == 1 %}
                                            <embed src="{{entry.akta_pendirian_badan_usaha.url}}" type="application/pdf" width="100%" height="600px" />
                                        {% else %}
                                            <img src="{{entry.akta_pendirian_badan_usaha.url}}">
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" id="read-row">
                            <h2 class="sub-header"> Daftar Proyek </h2>
                        </div>

                        <a href="{% url 'listing_proyek' entry.id_data_perusahaan %}" class="btn btn-primary" id="lihat-daftar-proyek"> Lihat Daftar Proyek </a>

                        <div class="row" id="admin-verify-back">
                            <a href="{% url 'verifikasi_perusahaan_berhasil' entry.id_data_perusahaan %}" class="btn btn-primary" id="verify-admin"> Lakukan Verifikasi </a>
                            <a href="{% url 'kirim_notifikasi' entry.id_data_perusahaan %}" class="btn btn-danger" id="kirim-notifikasi"> Kirim Notifikasi </a>
                            <form action="{% url 'delete_data_perusahaan' entry.id_data_perusahaan %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger" id="delete-data" name="submit" />
                            </form>
                            <a href="{% url 'listing_perusahaan' %}" class="btn btn-secondary"> Kembali ke Daftar Perusahaan </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}