{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1> Detail Jenis PSU </h1>

                        <div class="row" id="read-row">
                            <h2 class="sub-header"> Prasarana Perumahan </h2>
                        </div>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="jaringan_jalan" class="detail-title">Jaringan Jalan (m)</label>
                                    <p class="read-details">{{entry.jaringan_jalan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="jaringan_saluran_pembuangan_air_hujan" class="detail-title">Jaringan Saluran Pembuangan Air Hujan (Drainase) (m)</label>
                                    <p class="read-details">{{entry.jaringan_saluran_pembuangan_air_hujan}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="sanitasi" class="detail-title">Sanitasi (m)</label>
                                    <p class="read-details">{{entry.sanitasi}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="jaringan_saluran_pembuangan_air_limbah" class="detail-title">Jaringan Saluran Pembuangan Air Limbah (m)</label>
                                    <p class="read-details">{{entry.jaringan_saluran_pembuangan_air_limbah}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="tempat_pembuangan_sampah" class="detail-title">Tempat Pembuangan Sampah (Ha)</label>
                                    <p class="read-details">{{entry.tempat_pembuangan_sampah}}</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row" id="read-row">
                            <h2 class="sub-header"> Sarana Perumahan </h2>
                        </div>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="sarana_perniagaan" class="detail-title">Sarana Perniagaan / Perbelanjaan (Ha)</label>
                                    <p class="read-details">{{entry.sarana_perniagaan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_pelayanan_umum_dan_pemerintahan" class="detail-title">Sarana Pelayanan Umum dan Pemerintahan (Ha)</label>
                                    <p class="read-details">{{entry.sarana_pelayanan_umum_dan_pemerintahan}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="sarana_pendidikan" class="detail-title">Sarana Pendidikan (Ha)</label>
                                    <p class="read-details">{{entry.sarana_pendidikan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_kesehatan" class="detail-title">Sarana Kesehatan (Ha)</label>
                                    <p class="read-details">{{entry.sarana_kesehatan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_peribadatan" class="detail-title">Sarana Peribadatan (Ha)</label>
                                    <p class="read-details">{{entry.sarana_peribadatan}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="sarana_rekreasi_dan_olahraga" class="detail-title">Sarana Rekreasi dan Olahraga (Ha)</label>
                                    <p class="read-details">{{entry.sarana_rekreasi_dan_olahraga}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_pemakaman" class="detail-title">Sarana Pemakaman (Ha)</label>
                                    <p class="read-details">{{entry.sarana_pemakaman}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_pertanaman_dan_ruang_terbuka_hijau" class="detail-title">Sarana Pertanaman dan Ruang Terbuka Hijau (Ha)</label>
                                    <p class="read-details">{{entry.sarana_pertanaman_dan_ruang_terbuka_hijau}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_parkir" class="detail-title">Sarana Parkir (Ha)</label>
                                    <p class="read-details">{{entry.sarana_parkir}}</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row" id="read-row">
                            <h2 class="sub-header"> Utilitas Umum Perumahan </h2>
                        </div>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="jaringan_air_bersih" class="detail-title">Jaringan Air Bersih (m)</label>
                                    <p class="read-details">{{entry.jaringan_air_bersih}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="jaringan_listrik" class="detail-title">Jaringan Listrik (m)</label>
                                    <p class="read-details">{{entry.jaringan_listrik}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="jaringan_telepon" class="detail-title">Jaringan Telepon (m)</label>
                                    <p class="read-details">{{entry.jaringan_telepon}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="jaringan_gas" class="detail-title">Jaringan Gas (m)</label>
                                    <p class="read-details">{{entry.jaringan_gas}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="jaringan_transportasi" class="detail-title">Jaringan Transportasi (m)</label>
                                    <p class="read-details">{{entry.jaringan_transportasi}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="pemadam_kebakaran" class="detail-title">Pemadam Kebakaran (Ha)</label>
                                    <p class="read-details">{{entry.pemadam_kebakaran}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="sarana_penerangan_jalan_umum" class="detail-title">Sarana Penerangan Jalan Umum (Unit)</label>
                                    <p class="read-details">{{entry.sarana_penerangan_jalan_umum}}</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row" id="admin-verify-back">
                            <a href="{% url 'verifikasi_data_psu' entry.id_data_proyek_id %}" class="btn btn-primary" id="verify-admin"> Lakukan Verifikasi </a>
                            <form action="{% url 'delete_jenis_psu' entry.id_data_proyek_id %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger" id="delete-data" name="submit" />
                            </form>
                            <a href="{% url 'folder_proyek' entry.id_data_proyek_id %}" class="btn btn-secondary"> Kembali ke Folder Proyek </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}