{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Proyek </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="lokasi" class="detail-title">Lokasi</label>
                                    <p class="read-details">{{entry.lokasi_proyek}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="luas_total_area_proyek" class="detail-title">Luas Total Area Proyek</label>
                                    <p class="read-details">{{entry.luas_total_area_proyek}} Hektar(Ha)</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="jumlah_total_unit" class="detail-title">Jumlah total unit yang akan dibangun</label>
                                    <p class="read-details">{{entry.jumlah_total_unit}} Unit</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="jenis_produk" class="detail-title">Jenis Produk</label>
                                    <p class="read-details">{{entry.jenis_produk}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="jumlah_tipe_rumah" class="detail-title">Jumlah Tipe Rumah</label>
                                    <p class="read-details">{{dataProyek.jumlah_tipe_rumah}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="target_pembangunan" class="detail-title">Target Pembangunan</label>
                                    <p class="read-details">{{entry.target_pembangunan}} Bulan</p>
                                </div>

                            </div>
                        </div>

                        <div class="row" id="admin-verify-back">
                            <a href="{% url 'verifikasi_data_proyek' entry.id_data_proyek %}" class="btn btn-primary" id="verify-admin"> Lakukan Verifikasi </a>
                            <form action="{% url 'delete_data_proyek' entry.id_data_proyek %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger" id="delete-data" name="submit" />
                            </form>
                            <a href="{% url 'folder_proyek' entry.id_data_proyek %}" class="btn btn-secondary"> Kembali ke Folder Proyek </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}