{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Proyek </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="lokasi" class="detail-title">Lokasi</label>
                                    <p class="read-details">{{entry.lokasi_proyek}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="luas_total_area_proyek" class="detail-title">Luas Total Area Proyek</label>
                                    <p class="read-details">{{entry.luas_total_area_proyek}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="jumlah_total_unit" class="detail-title">Jumlah total unit yang akan dibangun</label>
                                    <p class="read-details">{{entry.jumlah_total_unit}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="jenis_produk" class="detail-title">Jenis Produk</label>
                                    <p class="read-details">{{entry.jenis_produk}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="target_pembangunan" class="detail-title">Target Pembangunan</label>
                                    <p class="read-details">{{entry.target_pembangunan}}</p>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}