{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        {% if entry.jenis_produk == "Rumah Tapak" %}

                            <h1 class="header"> Rincian Rumah Tapak </h1>

                            {% for rumahTapak in rumahTapaks %}
                                <div class="form-row">
                                    <div class="form-group" id="number-susun">

                                        <h1> {{rumahTapak.tipe_rumah_tapak}} </h1>

                                    </div>

                                    <div class="form-group">
                                        
                                        <div class="detail-text">
                                            <label for="lb_rumah_tapak" class="detail-title">Luas Bangunan</label>
                                            <p class="read-details">{{rumahTapak.lb_rumah_tapak}} Hektar(Ha)</p>
                                        </div>

                                        <div class="detail-text">
                                            <label for="lt_rumah_tapak" class="detail-title">Luas Tanah</label>
                                            <p class="read-details">{{rumahTapak.lt_rumah_tapak}} Hektar(Ha)</p>
                                        </div>

                                        <div class="detail-text">
                                            <label for="jumlah_unit_rumah_tapak" class="detail-title">Jumlah Unit</label>
                                            <p class="read-details">{{rumahTapak.jumlah_unit_rumah_tapak}} Unit</p>
                                        </div>

                                        <form action="{% url 'delete_tipe_rumah_tapak' rumahTapak.id_rumah_tapak %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="submit" value="Delete" class="btn btn-danger" id="delete-data" name="submit" />
                                        </form>

                                    </div>
                                </div>
                                <hr>

                            {% endfor %}

                        {% else %}

                            <h1 class="header"> Rincian Rumah Susun </h1>

                            {% for rumahSusun in rumahSusuns %}
                                <div class="form-row">
                                    <div class="form-group" id="number-susun">

                                        <h1> {{rumahSusun.tipe_rumah_susun}} </h1>

                                    </div>

                                    <div class="form-group">
                                        
                                        <div class="detail-text">
                                            <label for="lb_rumah_tapak" class="detail-title">Luas Bangunan</label>
                                            <p class="read-details">{{rumahSusun.lb_rumah_susun}} Hektar(Ha)</p>
                                        </div>

                                        <div class="detail-text">
                                            <label for="jumlah_unit_rumah_tapak" class="detail-title">Jumlah Unit</label>
                                            <p class="read-details">{{rumahSusun.jumlah_unit_rumah_susun}} Unit</p>
                                        </div>

                                        <form action="{% url 'delete_tipe_rumah_susun' rumahSusun.id_rumah_susun %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="submit" value="Delete" class="btn btn-danger" id="delete-data" name="submit" />
                                        </form>

                                    </div>
                                </div>
                                <hr>

                            {% endfor %}

                        {% endif %}

                        <div class="row" id="admin-verify-back">
                            <a href="{% url 'verifikasi_data_tipe_rumah' entry.id_data_proyek %}" class="btn btn-primary" id="verify-admin"> Lakukan Verifikasi </a>
                            <a href="{% url 'folder_proyek' entry.id_data_proyek %}" class="btn btn-secondary"> Kembali ke Folder Proyek </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}