/* Daftar Perusahaan */
.content {
    padding: 75px 100px 75px 100px; 
}

.item {
    color: #000;
    text-decoration: none;
}

.item:hover {
    color: #03a678;
    text-decoration: none;
}

.listing {
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px -5px 30px;
}

.listing:hover {
    border: 1px solid #03a678;
}

.listing-radius {
    border-radius: 10px;
}

.listing-content {
    padding: 20px 20px 75px;
}

#group {
    width: 50%; 
    float: left; }

#group-bottom {
    width: 50%; 
    float: left; }

.list-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#details {
    font-size: 13px;
    font-weight: 400;
    margin-left: 3px;
}

/* Read Perusahaan */

.header{
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #03a678;
    text-underline-position: under;
}

.detail-title {
    font-size: 18px;
    text-transform: initial;
}

.detail-text{
    margin-bottom: 30px; }

.read-details {
    font-size: 18px;
    font-weight: 400; }

.vertical-detail { 
    border-left: 2px solid #03a678; ; 
    height: 35vh;
    position: absolute; 
    left: 50%; } 

.listing-details {
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px -5px 30px;
    border-radius: 10px;
}

.listing-content-details {
    padding: 20px 20px 75px;
}

.detail-text-bottom{
    margin: 10px 0 30px 10px; }

/* listing proyek */
.listing-content-proyek {
    padding: 20px 20px 50px 20px;
}

#group-proyek {
    width: 33%; 
    float: left; }

#details-proyek {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 0 0 3px;
}

    



 
