/* Data Perusahaan */
list-type-ulli, ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
      
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
      
body {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    margin: 0px; }

h1 {
    color: #222;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 10px 40px; }

h4 {
    color: #222;
    text-decoration: underline;
    text-decoration-color: #03a678;
    text-underline-position: under;
    text-transform: uppercase;
    margin: 70px 0 30px; 
    font-size: 25px; }

.vertical { 
    border-left: 2px solid #03a678; ; 
    height: 63vh;
    position: absolute; 
    left: 50%; 
} 

.register-form {
    padding: 75px 100px 75px 100px; }

.form-row .form-group {
    width: 50%;
    padding: 0 40px; }
  
.form-row {
    margin: 0 -30px; }

.form-input, .form-select, .form-radio {
    margin-bottom: 25px; }

label, input {
    display: block;
    width: 100%; }
    
label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px; }

input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 14px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 14px; }
    
input:focus {
    border: 1px solid #03a678; }

select {
    appearance: none;
    border: 1px solid #ccc; 
    font-size: 14px; 
    width: 100%; 
    height: 100%;  
    cursor: pointer;
    padding: 14px 20px; 
    border-radius:5px;
    background: url('../images/arrow.png') no-repeat 95% 50%;
    background-size: 14px 15px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 11px 15px;
    cursor: pointer;
}

.submit {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }

#submit {
    background: #03a678;
    color: #fff; }

#submit:hover {
    background-color: #025b42; }

/* Data Proyek & Data Perizinan */

.form-row-single .form-group-single {
    width: 80%;
    padding: 0 40px; }
  
.form-row-single {
    margin: 0 -30px; }

#submit-single {
    background: #03a678;
    color: #fff; 
    margin: 20px 14px;
    width: 75%; }

#submit-single:hover {
    background-color: #025b42; }

 /* Tipe Rumah */

#judul-tipe {
    margin-bottom: 70px;
}

#number h1 {
    font-size: 80px;
    margin-left: 150px;
    margin-top: 150px;
    color: #03a678;
}

#number-susun h1 {
    font-size: 80px;
    margin-left: 150px;
    margin-top: 100px;
    color: #03a678;
}

#tipe {
    margin: 0 -110px; 
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #03a678;
}

#submit-tipe {
    background: #03a678;
    color: #fff; 
    margin: 30px 230px;
    width: 50%; }

#submit-tipe:hover {
    background-color: #025b42; }

/* Generate Username*/
.section-generate
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box
{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px 0px;
}

.form-content
{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #025b42;
}

.generate-form
{
    width: 100%;
    padding: 40px;
}

.title-form-generate
{
    padding-bottom: 30px;
}

.generate_input
{
    margin: 10px 0;
}

.password-section
{
    display: flex;
}

.submit
{
    background: #03a678;
}

.generate_btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 1.25em;
    background: #ccc;
    /* color: #fff; */
    margin:  10px 0px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#generate_input_password{
    width: 70%;
}