/* Data Perusahaan */
list-type-ulli, ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
      
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
      
body {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    margin: 0px; }

h1 {
    color: #222;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 10px 40px; }

h2 {
    color: #222;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #03a678;
    text-underline-position: under;
    text-transform: uppercase;
    margin: 40px 0 40px; }

h4 {
    color: #222;
    text-decoration: underline;
    text-decoration-color: #03a678;
    text-underline-position: under;
    text-transform: uppercase;
    margin: 70px 0 30px; 
    font-size: 25px; }

.vertical { 
    border-left: 2px solid #03a678; ; 
    height: 63vh;
    position: absolute; 
    left: 50%; 
} 

.register-form {
    padding: 75px 100px 75px 100px; }

.form-row .form-group {
    width: 50%;
    padding: 0 40px; }
  
.form-row {
    margin: 0 -30px; }

.form-input, .form-select, .form-radio {
    margin-bottom: 25px; }

label, input {
    display: block;
    width: 100%; }
    
label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px; }

input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 14px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 14px; }
    
input:focus {
    border: 1px solid #03a678; }

select {
    appearance: none;
    border: 1px solid #ccc; 
    font-size: 14px; 
    width: 100%; 
    height: 100%;  
    cursor: pointer;
    padding: 14px 20px; 
    border-radius:5px;
    background: url('../images/arrow.png') no-repeat 95% 50%;
    background-size: 14px 15px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 11px 15px;
    cursor: pointer;
}

.submit {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }

#submit {
    background: #03a678;
    color: #fff; }

#submit:hover {
    background-color: #025b42; }

/* Data Proyek & Data Perizinan */

.form-row-single .form-group-single {
    width: 80%;
    padding: 0 40px; }
  
.form-row-single {
    margin: 0 -30px; }

#submit-single {
    background: #03a678;
    color: #fff;
    width: 100%; }

#submit-single:hover {
    background-color: #025b42; }

 /* Tipe Rumah */

#judul-tipe {
    margin-bottom: 70px;
}

#number-susun {
    display: flex;
    justify-content: center;
    align-items: center;
}
#number-susun h1{
    color: #03a678;
    font-size: 80px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #03a678;
}

#submit-tipe {
    background: #03a678;
    color: #fff; 
    margin: 30px 230px;
    width: 50%; }

#submit-tipe:hover {
    background-color: #025b42; }

/* Generate Username*/
.section-generate
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box
{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px 0px;
}

.form-content
{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #025b42;
}

.generate-form
{
    width: 100%;
    padding: 40px;
}

.title-form-generate
{
    padding-bottom: 30px;
}

.generate_input
{
    margin: 10px 0;
}

.password-section
{
    display: flex;
}

.submit
{
    background: #03a678;
}

.generate_btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 1.25em;
    background: #ccc;
    /* color: #fff; */
    margin:  10px 0px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#generate_input_password{
    width: 70%;
}

/* index pengembang */
header{
    padding: 300px 0 300px;
}
  
section{
    padding: 75px 0 85px;
}

#index-header{
    background: url('../images/index-header-picture.jpg') no-repeat;
    background-size: cover;
}

#header-text{
    color : #fff;
    font-size: 40px;
}

#header-info{
    color : #fff;
    font-size: 30px;
    font-weight: 500;
}

#steps-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03a678;
}

.index-h2{
    text-decoration: none;
}

.number-alignment{
    margin-top: -40px;
}

.steps{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.listing-index {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.steps-info{
    text-align: left;
    margin-left: -15px;
    margin-top: 40px;
}

.index-list{
    list-style-type: circle;
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.mybell
{
    color: white;
    position: relative;
    box-sizing: content-box;
    width: 21px;
    height: 21px;
    background-size: contain;
}

.bell-img
{
    width: 21px;
    height: 21px;
}

.countBell::after
{
    content: attr(data-count);
    font-size: 0.5em;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(51, 243, 51);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

/* Error Message */
#error-message-content-logo{
    display: flex;
    justify-content: center;
    background: #dd3447;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

#error-message-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.error-message-text{
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #dd3447;
    text-underline-position: under;
}

/* register */
.register-header{
    margin-left: -20px;
}

#register-submit {
    background: #03a678;
    color: #fff;
    width: 100%;
    margin-top: 15px; }

.notification-div
{
    min-width: 400px;
}

h4.notification-title
{
    box-sizing: content-box;
    padding: 10px 0px;
    margin: 0;
}

.notification-div p
{
    margin: 0px;
    padding: 0px 0px 10px;
    box-sizing: content-box;
}

.date
{
    position: relative;
    height: 20px;
}

.date small
{
    position: absolute;
    right: 0;
}