{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Proyek </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="lokasi_proyek" class="detail-title">Lokasi Proyek</label>
                                    <p class="read-details">{{dataProyek.lokasi_proyek}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="luas_total_area_proyek" class="detail-title">Luas Total Area Proyek</label>
                                    <p class="read-details">{{dataProyek.luas_total_area_proyek}} Hektar(Ha)</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="jumlah_total_unit" class="detail-title">Jumlah total unit yang akan dibangun</label>
                                    <p class="read-details">{{dataProyek.jumlah_total_unit}} Unit</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="jenis_produk" class="detail-title">Jenis Produk</label>
                                    <p class="read-details">{{dataProyek.jenis_produk}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="target_pembangunan" class="detail-title">Target Pembangunan</label>
                                    <p class="read-details">{{dataProyek.target_pembangunan}} Bulan</p>
                                </div>

                            </div>
                        </div>
                        
                        <div class="row" id="admin-verify-back">
                            {% if dataProyek.verified_admin_data_proyek %}
                                <div class="btn btn-primary">Data anda telah diverifikasi</div>
                            {% else %}
                                <a href="{% url 'update_data_proyek' dataProyek.id_data_proyek 0 %}" class="btn btn-primary"> Update Data Proyek </a>
                            {% endif%}
                        </div>

                        <div class="row" id="admin-verify-back">
                            <a href="{% url 'folder_proyek_pengembang' dataProyek.id_data_proyek %}" class="btn btn-secondary"> Kembali ke Folder Proyek </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}