{% extends '../layout.html' %}

{% block content %}

    {% load static %}

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="listing-details">
                    <div class="listing-content-details">

                        <h1 class="header"> Detail Perusahaan </h1>

                        <div class="form-row">
                            <div class="form-group">

                                <div class="detail-text">
                                    <label for="nama_perusahaan" class="detail-title">Nama Perusahaan</label>
                                    <p class="read-details">{{dataPerusahaan.nama_perusahaan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="nama_pemilik" class="detail-title">Nama Pemilik</label>
                                    <p class="read-details">{{dataPerusahaan.nama_pemilik}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="bentuk_perusahaan" class="detail-title">Bentuk Perusahaan</label>
                                    <p class="read-details">{{dataPerusahaan.bentuk_perusahaan}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="alamat_perusahaan" class="detail-title">Alamat Perusahaan</label>
                                    <p class="read-details">{{dataPerusahaan.alamat_perusahaan}}</p>
                                </div>
                                
                            </div>

                            <div class="form-group vert">

                                <div class="detail-text">
                                    <label for="tahun_berdiri" class="detail-title"> Tahun Berdiri</label>
                                    <p class="read-details">{{dataPerusahaan.tahun_berdiri}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="no_telp" class="detail-title">No Telp</label>
                                    <p class="read-details">{{dataPerusahaan.no_telp}}</p>
                                </div>
                                
                                <div class="detail-text">
                                    <label for="email" class="detail-title">Email</label>
                                    <p class="read-details">{{dataPerusahaan.email}}</p>
                                </div>

                                <div class="detail-text">
                                    <label for="website" class="detail-title">Website</label>
                                    <p class="read-details">{{dataPerusahaan.website}}</p>
                                </div>

                            </div>
                        </div>
                            
                        <div class="detail-text-bottom">
                            <label for="foto_pemilik" class="detail-title">Foto Pemilik</label>
                            <img src="{{dataPerusahaan.foto_pemilik.url}}">
                        </div>

                        <div class="detail-text-bottom">
                            <label for="ktp_pemilik" class="detail-title">KTP Pemilik</label>
                            <!-- <embed src="{{dataPerusahaan.ktp_pemilik.url}}"> -->
                        </div>

                        <div class="detail-text-bottom">
                            <label for="akta_pendirian_badan_usaha" class="detail-title">Akta Pendirian Badan Usaha</label>
                            <!-- <embed src="{{dataPerusahaan.akta_pendirian_badan_usaha.url}}" type="application/pdf" height="700px" width="500"> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}