{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data" class="register-form" id="register-form">

                {% csrf_token %}

                <h1> Data Perizinan </h1>

                <div class="form-row-single">
                    <div class="form-group-single">
                        
                        <div class="form-input">
                            <label for="site_plan">Site Plan</label>
                            <input type="file" name="site_plan" id="site_plan" class="custom-file-upload" required/>
                        </div>

                        <div class="form-input">
                            <label for="ukl_upl" >UKL / UPL</label>
                            <input type="file" name="ukl_upl" id="ukl_upl" class="custom-file-upload" required/>
                        </div>

                        <div class="form-input">
                            <label for="foto_pemilik">Izin Mendirikan Bangunan</label>
                            <input type="file" name="izin_mendirikan_bangunan" id="izin_mendirikan_bangunan" class="custom-file-upload" required/>
                        </div>

                        <div class="form-input">
                            <label for="ktp_pemilik" >Izin Penggunaan Bangunan</label>
                            <input type="file" name="izin_penggunaan_bangunan" id="izin_penggunaan_bangunan" class="custom-file-upload"  required/>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit-single" name="submit" />
                        </div>
                    </div>
                </div>

                

            </form>
        </div>
    </div>

{% endblock %}
