{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        

        <header id="index-header">
            <div class="container text-center">
                <h1>Pelaporan</h1>
                <p class="lead">Bisa tulis keterangan di sini apapun dah gatau juga mau isi apa (background bisa diganti gambar biar bagus bos tapi gatau gambar apa jadi kasi kosong dulu dah)</p>
            </div>
        </header>
        
        <section id="data_perusahaan_index">
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Data Perusahaan</h2>
                    <p class="lead">Keterangan data perusahaan di sini</p>
                </div>
                </div>
            </div>
        </section>
    
        <section id="data_proyek_index" class="bg-light">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Data Proyek</h2>
                <p class="lead">Keterangan data proyek di sini</p>
            </div>
            </div>
        </div>
        </section>
    
        <section id="data_perizinan_index">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Data Perizinan</h2>
                <p class="lead">Keterangan data perizinan di sini</p>
            </div>
            </div>
        </div>
        </section>
                
    </div>
    
{% endblock %}