{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        

        <header id="index-header">
            <div class="container text-center">
                <h1 id="header-text">Pelaporan</h1>
                <p class="lead" id="header-info">Selamat Datang di Halaman Utama Fitur Pelaporan E-PSU</p>
            </div>
        </header>
        
        <section id="data_perusahaan_index">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="index-h2">Panduan Pengisian Form Pelaporan</h2>
                        
                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 1 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Masuk ke dalam Form Data Perusahaan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 2 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Isikan Data Perusahaan Anda pada Form Data Perusahaan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 3 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Tekan Submit Apabila telah Selesai Mengisi Data dengan Benar</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 4 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Mohon Menunggu Admin untuk Melakukan Verifikasi pada Data Perusahaan Anda</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    
        <section id="data_proyek_index" class="bg-light">
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="index-h2">Form Data Perusahaan</h2>
                    <p class="lead">Form ini berisikan data-data tentang perusahaan anda. Hal-hal yang perlu diisikan dalam form ini adalah:</p>
                    <ul class="index-list">
                        <li>Nama Perusahaan</li>
                        <li>Nama Pemilik</li>
                        <li>Bentuk Perusahaan</li>
                        <li>Alamat Perusahaan</li>
                        <li>Tahun Berdiri</li>
                        <li>No. Telp</li>
                        <li>Email</li>
                        <li>Website</li>
                    </ul>
                    <p class="lead">
                        Data-data dibawah harus diisikan dengan mengupload file dengan extension yang telah ditentukan:
                    </p>
                    <ul class="index-list">
                        <li>Akta Pendirian Badan Usaha / Badan Hukum (PDF/PNG/JPEG)</li>
                        <li>Foto Pemilik (PNG/JPEG)</li>
                        <li>KTP Pemilik (PDF/PNG/JPEG)</li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
    
        <section id="data_perizinan_index">
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="index-h2">Form Data Proyek</h2>
                    <p class="lead">Form ini berisikan data-data tentang proyek anda. Data Proyek akan terbagi menjadi 4 bagian:</p>
                    <ul class="index-list">
                        <li>Detail Proyek</li>
                        <li>Rincian Tipe Rumah</li>
                        <li>Jenis PSU</li>
                        <li>Detail Perizinan</li>
                    </ul>
                    <p class="lead">Pada detail proyek, anda dapat mengisikan data-data yang berhubungan dengan proyek anda. Hal yang perlu diisikan dalam bagian ini adalah:</p>
                    <ul class="index-list">
                        <li>Lokasi (Anda dapat menggunakan peta yang telah disediakan)</li>
                        <li>Luas Total Area Proyek (Hektar)</li>
                        <li>Jumlah Total Unit yang akan dibangun (Unit)</li>
                        <li>Jenis Produk (Anda dapat memilih rumah tapak / rumah susun)</li>
                        <li>Target Pembangunan (Bulan)</li>
                    </ul>
                    <p class="lead">
                        Rincian tipe rumah terbagi menjadi 2 bagian, rincian rumah tapak dan rincian rumah susun. Hal ini akan ditentukan sesuai dengan pilihan anda pada pengisian data di detail proyek.
                        Hal yang perlu diisikan adalah:
                    </p>
                    <ul class="index-list">
                        <li>Luas Bangunan (Rumah Tapak dan Rumah Susun)</li>
                        <li>Luas Tanah (Rumah Tapak Saja)</li>
                        <li>Jumlah Unit (Rumah Tapak dan Rumah Susun)</li>
                    </ul>
                    <p class="lead">
                        Pada Jenis PSU akan dibagi menjadi 3 bagian dan anda hanya perlu untuk mengisikan data sesuai dengan yang proyek anda butuhkan. 3 bagian tersebut adalah:
                    </p>
                    <ul class="index-list">
                        <li>Prasarana Perumahan</li>
                        <li>Sarana Perumahan</li>
                        <li>Utilitas Umum Perumahan</li>
                    </ul>
                    <p class="lead">
                        Untuk data perizinan, anda dapat mengupload file yang berizikan tentang perizinan proyek anda. Data yang perlu diupload adalah:
                    </p>
                    <ul class="index-list">
                        <li>Site Plan</li>
                        <li>UKL / UPL (PDF/PNG/JPEG)</li>
                        <li>Izin Mendirikan Bangunan (PDF/PNG/JPEG)</li>
                        <li>Izin Penggunaan Bangunan (PDF/PNG/JPEG)</li>
                    </ul>
                    
                </div>
                </div>
            </div>
        </section>
                
    </div>
    
{% endblock %}