{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        

        <header id="index-header">
            <div class="container text-center">
                <h1>Pelaporan</h1>
                <p class="lead">Selamat Datang di Halaman Utama Fitur Pelaporan E-PSU</p>
            </div>
        </header>
        
        <section id="data_perusahaan_index">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="index-h2">Panduan Pengisian Form Pelaporan</h2>
                        
                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 1 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Masuk ke dalam Form Data Perusahaan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 2 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Isikan Data Perusahaan Anda pada Form Data Perusahaan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 3 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Tekan Submit Apabila telah Selesai Mengisi Data dengan Benar</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing-index">
                            <div class="listing-content-index">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="steps-number">
                                            <div class="number-alignment">
                                                <h4 class="steps"> 4 </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="steps-info">Mohon Menunggu Admin untuk Melakukan Verifikasi pada Data Perusahaan Anda</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    
        <section id="data_proyek_index" class="bg-light">
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="index-h2">Form Data Perusahaan</h2>
                    <p class="lead">Form ini berisikan data-data tentang perusahaan anda. Hal-hal yang perlu diisikan dalam form ini adalah:</p>
                    <ul class="index-list">
                        <li>Nama Perusahaan</li>
                        <li>Nama Pemilik</li>
                        <li>Bentuk Perusahaan</li>
                        <li>Alamat Perusahaan</li>
                        <li>Tahun Berdiri</li>
                        <li>No. Telp</li>
                        <li>Email</li>
                        <li>Website</li>
                    </ul>
                    <p class="lead">
                        Data-data dibawah Harus diisikan dengan Mengupload File dengan Extension yang telah ditentukan:
                    </p>
                    <ul class="index-list">
                        <li>Akta Pendirian Badan Usaha / Badan Hukum (PDF/PNG/JPEG)</li>
                        <li>Foto Pemilik (PNG/JPEG)</li>
                        <li>KTP Pemilik (PDF/PNG/JPEG)</li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
    
        <section id="data_perizinan_index">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Data Perizinan</h2>
                <p class="lead">Keterangan data perizinan di sini</p>
            </div>
            </div>
        </div>
        </section>
                
    </div>
    
{% endblock %}