{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="container">
                
            <form action="" method="POST" enctype="multipart/form-data" class="register-form" id="register-form">

                {% csrf_token %}

                <h1> Jenis PSU </h1>

                <div class="form-row-single">
                    <div class="form-group-single">
                        
                        <h2>Prasarana Perumahan</h2>
                        
                        <div class="form-input">
                            <label for="jaringan_jalan">Jaringan Jalan</label>
                            <input type="text" name="jaringan_jalan" id="jaringan_jalan" value="{{daftarJenisPsu.jaringan_jalan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_saluran_pembuangan_air_hujan">Jaringan Saluran Pembuangan Air Hujan (Drainase)</label>
                            <input type="text" name="jaringan_saluran_pembuangan_air_hujan" id="jaringan_saluran_pembuangan_air_hujan" value="{{daftarJenisPsu.jaringan_saluran_pembuangan_air_hujan}}"/>
                        </div>
                        
                        <div class="form-input">
                            <label for="sanitasi">Sanitasi</label>
                            <input type="text" name="sanitasi" id="sanitasi" value="{{daftarJenisPsu.sanitasi}}"/>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_saluran_pembuangan_air_limbah">Jaringan Saluran Pembuangan Air Limbah</label>
                            <input type="text" name="jaringan_saluran_pembuangan_air_limbah" id="jaringan_saluran_pembuangan_air_limbah" value="{{daftarJenisPsu.jaringan_saluran_pembuangan_air_limbah}}"/>
                        </div>

                        <div class="form-input">
                            <label for="tempat_pembuangan_sampah">Tempat Pembuangan Sampah</label>
                            <input type="text" name="tempat_pembuangan_sampah" id="tempat_pembuangan_sampah" value="{{daftarJenisPsu.tempat_pembuangan_sampah}}"/>
                        </div>

                        <h2>Sarana Perumahan</h2>
                       
                        <div class="form-input">
                            <label for="sarana_perniagaan">Sarana Perniagaan / Perbelanjaan</label>
                            <input type="text" name="sarana_perniagaan" id="sarana_perniagaan" value="{{daftarJenisPsu.sarana_perniagaan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pelayanan_umum_dan_pemerintahan">Sarana Pelayanan Umum dan Pemerintahan</label>
                            <input type="text" name="sarana_pelayanan_umum_dan_pemerintahan" id="sarana_pelayanan_umum_dan_pemerintahan" value="{{daftarJenisPsu.sarana_pelayanan_umum_dan_pemerintahan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pendidikan">Sarana Pendidikan</label>
                            <input type="text" name="sarana_pendidikan" id="sarana_pendidikan" value="{{daftarJenisPsu.sarana_pendidikan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_kesehatan">Sarana Kesehatan</label>
                            <input type="text" name="sarana_kesehatan" id="sarana_kesehatan" value="{{daftarJenisPsu.sarana_kesehatan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_peribadatan">Sarana Peribadatan</label>
                            <input type="text" name="sarana_peribadatan" id="sarana_peribadatan" value="{{daftarJenisPsu.sarana_peribadatan}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_rekreasi_dan_olahraga">Sarana Rekreasi dan Olahraga</label>
                            <input type="text" name="sarana_rekreasi_dan_olahraga" id="sarana_rekreasi_dan_olahraga" value="{{daftarJenisPsu.sarana_rekreasi_dan_olahraga}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pemakaman">Sarana Pemakaman</label>
                            <input type="text" name="sarana_pemakaman" id="sarana_pemakaman" value="{{daftarJenisPsu.sarana_pemakaman}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pertanaman_dan_ruang_terbuka_hijau">Sarana Pertanaman dan Ruang Terbuka Hijau</label>
                            <input type="text" name="sarana_pertanaman_dan_ruang_terbuka_hijau" id="sarana_pertanaman_dan_ruang_terbuka_hijau" value="{{daftarJenisPsu.sarana_pertanaman_dan_ruang_terbuka_hijau}}"/>
                        </div>

                        <div class="form-input">
                            <label for="sarana_parkir">Sarana Parkir</label>
                            <input type="text" name="sarana_parkir" id="sarana_parkir" value="{{daftarJenisPsu.sarana_parkir}}"/>
                        </div>
                        
                        <h2>Utilitas Umum Perumahan</h2>
                        
                        <div class="form-input">
                            <label for="jaringan_air_bersih">Jaringan Air Bersih</label>
                            <input type="text" name="jaringan_air_bersih" id="jaringan_air_bersih" value="{{daftarJenisPsu.jaringan_air_bersih}}"/>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_listrik">Jaringan Listrik</label>
                            <input type="text" name="jaringan_listrik" id="jaringan_listrik" value="{{daftarJenisPsu.jaringan_listrik}}"/>
                        </div>

                        <!-- <div class="form-input">
                            <label for="jaringan_telepon">Jaringan Telepon</label>
                            <input type="text" name="jaringan_telepon" id="jaringan_telepon" value="{{daftarJenisPsu.jaringan_telepon}}"/> -->
                        </div>

                        <div class="form-input">
                            <label for="jaringan_telepon">Jaringan Telepon</label>
                            <input type="text" name="jaringan_telepon" id="jaringan_telepon" value="{{daftarJenisPsu.jaringan_telepon}}"/>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_gas">Jaringan Gas</label>
                            <input type="text" name="jaringan_gas" id="jaringan_gas" value="{{daftarJenisPsu.jaringan_gas}}"/>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_transportasi">Jaringan Transportasi</label>
                            <input type="text" name="jaringan_transportasi" id="jaringan_transportasi" value="{{daftarJenisPsu.jaringan_transportasi}}"/>
                        </div>

                        <div class="form-input">
                            <label for="pemadam_kebakaran">Pemadam Kebakaran</label>
                            <input type="text" name="pemadam_kebakaran" id="pemadam_kebakaran" value="{{daftarJenisPsu.pemadam_kebakaran}}"/>
                        </div>
                        
                        <div class="form-input">
                            <label for="sarana_penerangan_jalan_umum">Sarana Penerangan Jalan Umum</label>
                            <input type="text" name="sarana_penerangan_jalan_umum" id="sarana_penerangan_jalan_umum" value="{{daftarJenisPsu.sarana_penerangan_jalan_umum}}"/>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Next" class="submit" id="submit-single" name="submit" />
                        </div>
                    </div>
                </div>

                

            </form>
    
        </div>
    </div>

{% endblock %}

