{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="container">
                
            <form action="" method="POST" enctype="multipart/form-data" class="register-form" id="register-form">

                {% csrf_token %}

                <h1> Jenis PSU </h1>

                <div class="form-row-single">
                    <div class="form-group-single">
                        
                        <h2>Prasarana Perumahan</h2>
                        
                        <div class="form-input">
                            <label for="jaringan_jalan">Jaringan Jalan</label>
                            <input value="{{daftarJenisPsu.jaringan_jalan}}" type="text" name="inputPSU_1" id="jaringan_jalan" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_saluran_pembuangan_air_hujan">Jaringan Saluran Pembuangan Air Hujan (Drainase)</label>
                            <input value="{{daftarJenisPsu.jaringan_saluran_pembuangan_air_hujan}}" type="text" name="inputPSU_2" id="jaringan_saluran_pembuangan_air_hujan" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>
                        
                        <div class="form-input">
                            <label for="sanitasi">Sanitasi</label>
                            <input value="{{daftarJenisPsu.sanitasi}}" type="text" name="inputPSU_3" id="sanitasi" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_saluran_pembuangan_air_limbah">Jaringan Saluran Pembuangan Air Limbah</label>
                            <input value="{{daftarJenisPsu.jaringan_saluran_pembuangan_air_limbah}}" type="text" name="inputPSU_4" id="jaringan_saluran_pembuangan_air_limbah" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="tempat_pembuangan_sampah">Tempat Pembuangan Sampah</label>
                            <input value="{{daftarJenisPsu.tempat_pembuangan_sampah}}" type="text" name="inputPSU_5" id="tempat_pembuangan_sampah" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <h2>Sarana Perumahan</h2>
                       
                        <div class="form-input">
                            <label for="sarana_perniagaan">Sarana Perniagaan / Perbelanjaan</label>
                            <input value="{{daftarJenisPsu.sarana_perniagaan}}" type="text" name="inputPSU_6" id="sarana_perniagaan" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pelayanan_umum_dan_pemerintahan">Sarana Pelayanan Umum dan Pemerintahan</label>
                            <input value="{{daftarJenisPsu.sarana_pelayanan_umum_dan_pemerintahan}}" type="text" name="inputPSU_7" id="sarana_pelayanan_umum_dan_pemerintahan" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pendidikan">Sarana Pendidikan</label>
                            <input value="{{daftarJenisPsu.sarana_pendidikan}}" type="text" name="inputPSU_8" id="sarana_pendidikan" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_kesehatan">Sarana Kesehatan</label>
                            <input value="{{daftarJenisPsu.sarana_kesehatan}}" type="text" name="inputPSU_9" id="sarana_kesehatan" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_peribadatan">Sarana Peribadatan</label>
                            <input value="{{daftarJenisPsu.sarana_peribadatan}}" type="text" name="inputPSU_10" id="sarana_peribadatan" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_rekreasi_dan_olahraga">Sarana Rekreasi dan Olahraga</label>
                            <input value="{{daftarJenisPsu.sarana_rekreasi_dan_olahraga}}" type="text" name="inputPSU_11" id="sarana_rekreasi_dan_olahraga" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pemakaman">Sarana Pemakaman</label>
                            <input value="{{daftarJenisPsu.sarana_pemakaman}}" type="text" name="inputPSU_12" id="sarana_pemakaman" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_pertanaman_dan_ruang_terbuka_hijau">Sarana Pertanaman dan Ruang Terbuka Hijau</label>
                            <input value="{{daftarJenisPsu.sarana_pertanaman_dan_ruang_terbuka_hijau}}" type="text" name="inputPSU_13" id="sarana_pertanaman_dan_ruang_terbuka_hijau" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="sarana_parkir">Sarana Parkir</label>
                            <input value="{{daftarJenisPsu.sarana_parkir}}" type="text" name="inputPSU_14" id="sarana_parkir" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>
                        
                        <h2>Utilitas Umum Perumahan</h2>
                        
                        <div class="form-input">
                            <label for="jaringan_air_bersih">Jaringan Air Bersih</label>
                            <input value="{{daftarJenisPsu.jaringan_air_bersih}}" type="text" name="inputPSU_15" id="jaringan_air_bersih" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_listrik">Jaringan Listrik</label>
                            <input value="{{daftarJenisPsu.jaringan_listrik}}" type="text" name="inputPSU_16" id="jaringan_listrik" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <!-- <div class="form-input">
                            <label for="jaringan_telepon">Jaringan Telepon</label>
                            <input value="{{daftarJenisPsu.}}" type="text" name="jaringan_telepon" id="jaringan_telepon" />
                        </div> -->

                        <div class="form-input">
                            <label for="jaringan_telepon">Jaringan Telepon</label>
                            <input value="{{daftarJenisPsu.jaringan_telepon}}" type="text" name="inputPSU_17" id="jaringan_telepon" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_gas">Jaringan Gas</label>
                            <input value="{{daftarJenisPsu.jaringan_gas}}" type="text" name="inputPSU_18" id="jaringan_gas" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="jaringan_transportasi">Jaringan Transportasi</label>
                            <input value="{{daftarJenisPsu.jaringan_transportasi}}" type="text" name="inputPSU_19" id="jaringan_transportasi" />
                        </div>

                        <div class="form-input">
                            <label for="pemadam_kebakaran">Pemadam Kebakaran</label>
                            <input value="{{daftarJenisPsu.pemadam_kebakaran}}" type="text" name="inputPSU_20" id="pemadam_kebakaran" />
                            <i><small>*Dalam satuan Hektare(Ha)</small></i>
                        </div>
                        
                        <div class="form-input">
                            <label for="sarana_penerangan_jalan_umum">Sarana Penerangan Jalan Umum</label>
                            <input value="{{daftarJenisPsu.sarana_penerangan_jalan_umum}}" type="text" name="inputPSU_21" id="sarana_penerangan_jalan_umum" />
                            <i><small>*Dalam satuan meter(m)</small></i>
                        </div>

                        <div class="form-input">
                            <label for="detail_lainnya" class="detail-title">Lainnya</label>
                            <textarea class="form-control" id="textarea-kirim-notifikasi" name="inputPSU_22">{{daftarJenisPsu.detail_lainnya}}</textarea>
                            <i><small>*Harap diisi jika terdapat Prasarana, Sarana dan Utilitas yang belum tercantum diatas</small></i>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Update" class="submit" id="submit-single" name="submit" />
                        </div>
                    </div>
                </div>

                

            </form>
    
        </div>
    </div>

{% endblock %}

