{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="container">
                
            <form action="" method="PUT" enctype="multipart/form-data" class="register-form" id="register-form">

                {% csrf_token %}

                <h1> Data Proyek </h1>

                <div class="form-row-single">
                    <div class="form-group-single">
                        
                        <div class="form-input">
                            <label for="lokasi">Lokasi</label>
                            <input type="text" name="lokasi" id="lokasi" value="{{dataProyek.lokasi_proyek"}}/>
                        </div>

                        <input
                        id="pac-input"
                        class="controls"
                        type="text"
                        placeholder="Search Box"
                        />
                        <div id="map"></div>

                        <div class="form-input">
                            <label for="luas_total_area_proyek">Luas Total Area Proyek</label>
                            <input type="text" name="luas_total_area_proyek" id="luas_total_area_proyek" value="{{dataProyek.luas_total_area_proyek"}}/>
                        </div>
                        
                        <div class="form-input">
                            <label for="jumlah_total_unit_yang_akan_dibangun">Jumlah Total Unit yang akan dibangun</label>
                            <input type="text" name="jumlah_total_unit_yang_akan_dibangun" id="jumlah_total_unit_yang_akan_dibangun" value="{{dataProyek.jumlah_total_unit"}}/>
                        </div>

                        <div class="form-select">
                            <div class="label-flex">
                                <label for="jenis_produk">Jenis Produk</label>
                            </div>
                            <div class="select-list">
                                <select name="jenis_produk" id="jenis_produk">
                                    <option value="Rumah Tapak">Rumah Tapak</option>
                                    <option value="Rumah Susun">Rumah Susun (Apartemen)</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-input">
                            <label for="jumlah_tipe_rumah">Jumlah Tipe Rumah</label>
                            <input type="text" name="jumlah_tipe_rumah" id="jumlah_tipe_rumah" value="{{dataProyek.jumlah_tipe_rumah"}}/>
                        </div>

                        <div class="form-input">
                            <label for="target_pembangunan">Target Pembangunan</label>
                            <input type="text" name="target_pembangunan" id="target_pembangunan" value="{{dataProyek.target_pembangunan"}}/>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Next" class="submit" id="submit-single" name="submit" />
                        </div>
                    </div>
                </div>

                

            </form>
    
        </div>
    </div>

{% endblock %}

